.markdown h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

    margin-bottom: 24px;

    letter-spacing: -0.04em;
}

.markdown h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

    margin-bottom: 24px;

    letter-spacing: -0.02em;

    color: #202020;
}

.markdown p {
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.02em;

    color: #202020;

    margin-bottom: 24px;
}

.markdown a {
    color: #943CFF;
    font-size: 16px;
    line-height: 175%;

    font-weight: 500;

    letter-spacing: -0.02em;

    transition: all 0.15s;
}

.markdown a:hover {
    color: #761EE1;
}

.markdown ul, .markdown ol {
    margin-bottom: 48px;
}

.markdown ul li, .markdown ol li {
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.02em;

    color: #202020;
}

.markdown ul li {
    position: relative;
    padding-left: 14px;
    margin-left: 8px;
}

.markdown ul li::before {
    position: absolute;
    left: 0;
    content: '';
    margin-top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
}

.markdown ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    counter-reset: markdown-counter;
}

.markdown ol li {
    counter-increment: markdown-counter;
    margin-bottom: 16px;
    display: inline-flex;
}

.markdown ol li:last-of-type {
    margin-bottom: 0;
}

.markdown ol li::before {
    content: "" counter(markdown-counter);
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 3px;
    border: 1px solid #E6E6E6;
    font-weight: 600;
    font-size: 12px;
    margin-right: 12px;
}