/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3cb179;
  --ifm-color-primary-dark: #369f6d;
  --ifm-color-primary-darker: #339667;
  --ifm-color-primary-darkest: #2a7c55;
  --ifm-color-primary-light: #45c085;
  --ifm-color-primary-lighter: #4ec38b;
  --ifm-color-primary-lightest: #68cc9c;
  --ifm-code-font-size: 95%;
}

:root[data-theme="light"] {
  background-color: white;
  --ifm-navbar-background-color: white;
}

nav[data-theme="light"] {
  background-color: white;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  display: none;
}
