/* Had to use this becase this is rolled up as NPM packages see here: https://nextjs.org/docs/messages/css-modules-npm */

#hsForm {
  .hs-form {
    display: grid !important;
    gap: 32px;
  }
  .hs-form-field {
    .hs-input,
    .hs-textarea {
      color: #ffffff;
      width: 100%;
      background: transparent;
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }
      border: none;
      border-bottom: 1px solid #666773;
      font-size: 18px;
      border-radius: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-top: 8px;
      padding-bottom: 16px;
      padding-left: 32px;
      padding-right: 32px;
      @media (max-width: 640px) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    label {
      color: #666773;
      width: 100%;
      display: block;
      text-transform: uppercase;
      padding-left: 32px;
      padding-right: 32px;
      @media (max-width: 640px) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    .hs-error-msgs {
      list-style: none;
    }
  }
  .hs-button.primary {
    margin-left: 32px;
    margin-right: 32px;
    background: #0a5cd8;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: rgb(15, 48, 88);
    }
    @media (max-width: 640px) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
.submitted-message {
  margin-left: 32px;
  margin-right: 32px;
}
