name: Docker build and push images

on:
  pull_request:
  push:
    branches:
      - master
      - dev
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.build.package }} builds
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        build:
          - path: packages/api
            image: livepeerci/api
            package: api

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Check https://github.com/livepeer/go-livepeer/pull/1891
          # for ref value discussion
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        if:
          ${{ github.event_name == 'push' ||
          github.event.pull_request.head.repo.full_name == github.repository }}
        with:
          username: ${{ secrets.CI_DOCKERHUB_USERNAME }}
          password: ${{ secrets.CI_DOCKERHUB_TOKEN }}

      # - name: Log in to the Container registry
      #   uses: docker/login-action@v2
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ github.token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ matrix.build.image }}
          #            ghcr.io/${{ github.repository }}/${{ matrix.build.package }}
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=tag
            type=sha,format=long
            type=ref,event=branch
            type=semver,pattern={{version}},prefix=v
            type=semver,pattern={{major}}.{{minor}},prefix=v
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ github.event.pull_request.head.ref }}
            type=raw,value=stable,enable=${{ startsWith(github.event.ref, 'refs/tags/v') }}

      - name: Build and push livepeer docker image
        uses: docker/build-push-action@v3
        with:
          build-args: |
            VERSION=${{ (github.ref_type == 'tag' && github.ref_name) || (github.event.pull_request.head.sha || github.sha) }}
            GITHUB_SHA=${{ (github.event.pull_request.head.sha || github.sha) }}
          context: .
          platforms: linux/amd64
          push:
            ${{ github.event_name == 'push' ||
            github.event.pull_request.head.repo.full_name == github.repository
            }}
          tags: ${{ steps.meta.outputs.tags }}
          file: ${{ matrix.build.path }}/Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Notify new build upload
        run: curl -X POST https://holy-bread-207a.livepeer.workers.dev
