name: pkg releases

on:
  push:
    branches-ignore:
      - latest
    tags:
      - "v*"

jobs:
  build:
    name: Build binary packages
    runs-on: macos-latest

    steps:
      - name: checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"

      - name: Tags
        id: tags
        uses: livepeer/action-gh-release-tags@v0

      - name: restore lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: yarn install
        run: |
          yarn install --frozen-lockfile

      - name: build pkgs
        # I want to do --parallel here, but the binary downloads conflict with each other
        run: |
          yarn run lerna-run pkg

      - name: move pkgs
        run: |
          mkdir -p releases/
          for package in api www; do
            for arch in linux-arm64 linux-x64 macos-arm64 macos-x64 win-x64; do
              in_name="$package-$arch"
              out_name="livepeer-$package"
              archive_name="livepeer-$(echo $in_name | sed -e 's/x64/amd64/;s/win/windows/;s/macos/darwin/')"
              cd ./packages/$package/bin
              if [[ "$arch" == "win-x64" ]]; then
                in_name="$in_name.exe"
                out_name="$out_name.exe"
                mv ./$in_name ./$out_name
                zip -q9 "../../../releases/${archive_name}.zip" "./$out_name"
              else
                mv ./$in_name ./$out_name
                tar -czvf "../../../releases/${archive_name}.tar.gz" "./$out_name"
              fi
              cd -
            done
          done

      - name: Upload artifacts for processing further in linux
        uses: actions/upload-artifact@master
        with:
          name: release-artifacts
          path: releases/

  release:
    name: Release new version artifacts to github
    if: ${{ github.ref_type == "tag" }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Download artifacts from build stage
        uses: actions/download-artifact@master
        with:
          name: release-artifacts
          path: releases/

      - name: Generate sha256 checksum and gpg signatures for release artifacts
        uses: livepeer/action-gh-checksum-and-gpg-sign@latest
        with:
          artifacts-dir: releases
          release-name: ${{ github.ref_name }}
          gpg-key: ${{ secrets.CI_GPG_SIGNING_KEY }}
          gpg-key-passphrase: ${{ secrets.CI_GPG_SIGNING_PASSPHRASE }}

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Add binaries to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./releases/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
