.heading {
  scroll-margin-top: 150px;
  position: relative;

  a {
    opacity: 0;
    position: absolute;
    margin-left: -16px;
    padding-right: 8px;
    font-size: inherit;
    line-height: inherit;
  }
  &:first-child {
    a {
      display: none;
    }
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}

.docsGrid {
  display: grid;
  gap: 24px;
  margin: 56px 0 32px;
  justify-items: center;
  grid-template-columns: 1fr;
  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 832px) {
    grid-template-columns: repeat(var(--cols), 1fr);
  }
}

.docsPost {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  &:hover {
    .imageContainer {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .imageContainer {
    transition: all 0.2s;
    border-radius: 16px;
    overflow: hidden;
  }
  .docsPostTitle {
    margin: 24px 0 8px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: black;
  }
  .docsPostDescription {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: black;
    font-weight: 400;
  }
}

.navigationCard {
  width: 100%;
  cursor: pointer;
  max-width: 240px;
  padding: 24px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  .navigationCardTitle {
    letter-spacing: -0.03em;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0px;
  }
  .navigationCardLinkContainer {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-top: 8px;
    margin-bottom: 0px;
    .navigationCardLinkLabel {
      margin-right: 8px;
      color: #943cff;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.02em;
    }
  }
}

.simpleCard {
  background: linear-gradient(212.62deg, #b75eff 0%, #943cff 100%);
  min-height: 272px;
  cursor: pointer;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
  width: 100%;
  border-radius: 16px;
  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .simpleCardContent {
    display: flex;
    flex-direction: column;
    .simpleCardContentTitle {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.03em;
      color: white;
    }
    .simpleCardContentDescripttion {
      font-size: 16px;
      color: white;
      line-height: 28px;
      letter-spacing: -0.02em;
    }
  }
  .simpleCardLink {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-top: 32px;
    .simpleCardLinkLabel {
      margin-right: 8px;
      color: white;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.02em;
    }
  }
}
